.footer_container{
  margin-top: 2rem; 
  width: 100%;
  background-color: rgb(202, 202, 202);
  text-align: center;
  padding: 1rem 0;
}

.footer_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.footer_link{

    color: rgb(46, 110, 184);
    text-decoration: none;
}