.header_container{
    width: 100%;
    display :flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1.5px solid;
    border-color: rgb(202, 202, 202);
    padding-bottom: 1rem;
}

.header_logo{
    width: 10%;
    cursor: pointer;
}

.header_links_container{
    width: 18%;
    display: flex;
    justify-content: space-around;
    
}

.header_link{
    width: 45%;
    justify-content: center;
    margin: 0 0;
    display: flex;

}

.header_link_img{
    width: 100%;
}

@media  screen and (max-width: 975px){
    .header_logo{
        width: 12%;
    }
    .header_links_container{
        width: 25%;
    }
}
@media  screen and (max-width: 770px){
    .header_logo{
        width: 14%;
    }
    .header_links_container{
        width: 30%;
    }
}
@media  screen and (max-width: 665px){
    .header_logo{
        width: 16%;
    }
    .header_links_container{
        width: 35%;
    }
}
@media  screen and (max-width: 540px){
    .header_logo{
        width: 18%;
    }
    .header_links_container{
        width: 40%;
    }
}
@media  screen and (max-width: 455px){
    .header_logo{
        width: 20%;
    }
    .header_links_container{
        width: 45%;
    }
}

